{% extends "base.html" %}

{% block title %} Список міст {% endblock %}

{% block content %}
<h1 class="display-4 text-center my-4">Міста</h1>
<div class="row">
    <div class="col-md-6 mx-auto">
        <table class="table table-striped">
        <tbody>
        {% for object in objects_list %}
        <tr>
        <td>
            <a href="{% url 'cities:detail' pk=object.pk %}">{{object.name}}</a>
        </td>
        <td>
            <a href="{% url 'cities:update' pk=object.pk %}">
            <button type="button" class="btn btn-primary btn-sm">Редагувати</button>
            </a>
        </td>
        <td>
            <a href="{% url 'cities:delete' pk=object.pk %}">
            <button type="button" class="btn btn-danger btn-sm">Видалити</button>
            </a>
        </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>

<nav aria-label="Page navigation">
  <div class="col-md-1 mx-auto mt-5">
  <ul class="pagination">
    <li class="page-item">
      {% if objects_list.has_previous %}
          <a class="page-link" href="?page={{objects_list.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          </a>
      {% endif %}
    </li>
  {% for num in objects_list.paginator.page_range %}
  {% if num > objects_list.number|add:'-3' and num < objects_list.number|add:'3' %}
    <li class="page-item"><a class="page-link" href="?page={{num}}">{{ num }}</a></li>
  {% endif %}
  {% endfor %}
    <li class="page-item">
      {% if objects_list.has_next %}
          <a class="page-link" href="?page={{objects_list.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          </a>
      {% endif %}
    </li>
  </ul>
  </div>
</nav>
<div class="row">
    <div class="col-md-6">
        <a href="{% url 'cities:add' %}">
        <button type="button" class="btn btn-info btn-sm">Додати нове місто</button>
        </a>
    </div>

</div>
{% endblock content %}
